$content-width: 1080px;
$default-font: 'Montserrat', sans-serif;
$footer-font: 'Roboto', sans-serif;

$bg-color: #404040;
$button-color: #E05100;
$light-button-color: #FFFFFF;
$lignt-text-color: #FFFFFF;
$dark-text-color: #000000;


$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;